@import '../../mixins/_borders.scss';

.CellBtn{
    cursor: pointer;
    height: 45px;
    overflow: hidden;
    transition: .6s;
    width: 45px;
    @include borders(#020202, #141414);

    &:hover{
        background-color: #C724B1;
        box-shadow: 0px 3px 36px 6px rgba(199,36,177,1);
        transition: .6s;
    }

    &:active{
        background-color: #FFD300;
    }
}