@import '../../mixins/borders';
@import '../../mixins/align';

.Game{
    background: #49345B;
    border-radius: 10px;
    height: 1000px !important;
    padding: 2px;
    width: 1080px;
    @include borders (#FFD300, #E0BB00);
    @include column-center
}

.Top{
    transform: translateX(73px);
    width: 70%;
    @include column-center;
    &-Team2{
        color: #FFD300;
        @include column-center;
    }
    &-Score{
        // @include row-center;
        display: flex;
        flex-direction: row;
        & h1{
            margin-left: 18px;
            margin-right: 18px;
        }
    }
}

// .Logo-cropper{
//     border-radius: 50%;
//     height: 45px;
//     overflow: hidden;
//     position: relative;
//     width: 45px;
// }

// .Logo-img{
//     cursor: pointer;
//     display: inline;
//     height: 100%;
//     object-fit: cover;
//     width: auto;
// }

.Team1-logo{
    padding-bottom: 30px;
}

.Left{
    // max-width: 300px;
    color: #FFD300;
    @include column-center;
    &-Score{
        @include row-center;
        & h1 {
            margin-left: 18px;
            margin-right: 18px;
        }
    }
}

.MainBody{
    // max-width: 300px;
    // overflow-x: scroll;
    @include row-center;
    .Left{
        width: 100%;
        transform: rotate(270deg);
    }
}


.Body{
    border-radius: 5px;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    
    padding: 2px;
    transform: translateX(-190px);
    @include borders (#7b7b7b, #999)
}
