.Banner{
    align-content: center;
    animation-direction: alternate-reverse;
    animation-duration: 60s;
    animation-fill-mode: forwards ;
    animation-iteration-count: infinite;
    animation-name: animate;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    align-items: center;
    background-image: url(../../assets/imgs/welcome_banner1.webp);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    transition: 5s;
    width: 100%;
    z-index: var(--z-tooltip);
    @keyframes animate {
        8%{
            background-image: url(../../assets/imgs/welcome_banner2.webp);
        }
        16%{
            background-image: url(../../assets/imgs/welcome_banner3.webp);
        }
        24%{
            background-image: url(../../assets/imgs/welcome_banner4.webp);
        }
        32%{
            background-image: url(../../assets/imgs/welcome_banner5.webp);
        }
        40%{
            background-image: url(../../assets/imgs/welcome_banner6.webp);
        }
        48%{
            background-image: url(../../assets/imgs/welcome_banner7.webp);
        }
        56%{
            background-image: url(../../assets/imgs/welcome_banner8.webp);
        }
        64%{
            background-image: url(../../assets/imgs/welcome_banner9.webp);
        }
        72%{
            background-image: url(../../assets/imgs/welcome_banner10.webp);
        }
        80%{
            background-image: url(../../assets/imgs/welcome_banner11.webp);
        } 
        88%{
            background-image: url(../../assets/imgs/welcome_banner12.webp);
        } 
        100%{
            background-image: url(../../assets/imgs/welcome_banner13.webp);
        }
    }
    &-content{
        align-items: center;
        // animation: beat 2s ease-in-out infinite alternate;
        background-color: rgba(0,0,0,.8);
        border-radius: 10px;
        color: #F5F3F5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 10px;
        max-width: 600px;
        padding: 15px;
        position: absolute;
        transition: .6s;
        @keyframes beat {
            from {
                transform: scale(1);
            }
            to {
                transform: scale(1.02);
            }
        }
        & h1 {
            color: #F5F3F5;
            font-family: 'Roboto Condensed', sans-serif;
            font-weight: 700;
            font-size: 2em;
            text-align: center;
            & span {
                color: var(--color-main-alert);
                font-family: 'budmo-jiggler';
                font-size: 1.2em;
                text-transform: uppercase;
            }
        }
        & p {
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 1.3rem;
            margin: 20px;
            text-align: center;
        }
    }
    &-btn{
        display: flex;
        flex-direction: row-reverse;
        margin: 20px;
        padding-right: 30px;
    }

}

.btn-submit{
    cursor: pointer;
}