.Banner{
    align-content: center;
    animation-direction: alternate-reverse;
    animation-duration: 60s;
    animation-fill-mode: forwards ;
    animation-iteration-count: infinite;
    animation-name: animate;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    align-items: center;
    background-image: url(../../assets/imgs/welcome_banner1.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    transition: 5s;
    width: 100%;
    z-index: var(--z-tooltip);
    @keyframes animate {
        8%{
            background-image: url(../../assets/imgs/welcome_banner2.jpg);
        }
        16%{
            background-image: url(../../assets/imgs/welcome_banner3.jpg);
        }
        24%{
            background-image: url(../../assets/imgs/welcome_banner4.jpg);
        }
        32%{
            background-image: url(../../assets/imgs/welcome_banner5.jpg);
        }
        40%{
            background-image: url(../../assets/imgs/welcome_banner6.jpg);
        }
        48%{
            background-image: url(../../assets/imgs/welcome_banner7.jpg);
        }
        56%{
            background-image: url(../../assets/imgs/welcome_banner8.jpg);
        }
        64%{
            background-image: url(../../assets/imgs/welcome_banner9.jpg);
        }
        72%{
            background-image: url(../../assets/imgs/welcome_banner10.jpg);
        }
        80%{
            background-image: url(../../assets/imgs/welcome_banner11.jpg);
        } 
        88%{
            background-image: url(../../assets/imgs/welcome_banner12.jpg);
        } 
        100%{
            background-image: url(../../assets/imgs/welcome_banner13.jpg);
        }
    }
    &-content{
        align-items: center;
        animation: beat 2s ease-in-out infinite alternate;
        background-color: rgba(0,0,0,.8);
        border-radius: 10px;
        color: #F5F3F5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 80px;
        max-width: 600px;
        padding: 20px;
        position: absolute;
        transition: .6s;
        @keyframes beat {
            from {
                transform: scale(1);
            }
            to {
                transform: scale(1.08);
            }
        }
        & h1 {
            color: #F5F3F5;
            font-size: 2em;
            text-align: center;
            & span {
                color: #FFD300;
                font-size: 1.2em;
                text-transform: uppercase;
            }
        }
        & p {
            margin: 40px;
            text-align: center;
        }
    }
    &-btn{
        display: flex;
        flex-direction: row-reverse;
        margin: 30px;
        padding-right: 30px;
    }

}