.CheckoutMessage{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: center;
    text-align: center;
    h3 {
        color: var(--color-main-alert);
        font-family: 'budmo-jiggler';
        font-size: 3rem;
        margin: 20px;
        text-transform: uppercase;
    }
}
