@mixin column-center {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

@mixin row-center {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}