.GameSection{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
}

@media (max-width: 1080px) {
    .GamePage{   
        display: flex;
        flex-direction: column;
        height: 65rem;
        justify-content: center;
        padding: 50px;
    }
    .GameSection{
        display: block;
        overflow: scroll;
    }
}
