.GameSection{
    align-items: center;
    background-image: url(../../assets/imgs/welcome_banner4.webp);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 50px;
    
}

@media (max-width: 1080px) {
    .GamePage{   
        display: flex;
        flex-direction: column;
        height: 65rem;
        justify-content: center;
        padding: 50px;
    }
    .GameSection{
        display: block;
        overflow: scroll;
    }
}
