.Features {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
    padding: 20px;
}

.Features-content{
    align-content: center;
    display: flex;
    justify-content: center;
    margin: 7rem 0 7rem 0;
    & h2{
        border-bottom: 2px solid var(--color-main-light);
        color: var(--color-main-alert);
        cursor: default;
        font-size: 3rem;
        margin-bottom: 50px;
        letter-spacing: 2px;
        text-align: center;
        text-transform: uppercase;
        -webkit-box-reflect: below .5px linear-gradient(transparent, #0005);
    }
}

@media (max-width: 450px) {
    .Features{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}