.Paypal-icon{
    &::before {
        background-image: url(../../assets/icons/paypal.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        content: "";
        display: block;
        height: 70px;
        width: 70px;
    }
}