@font-face{
    font-family: 'aurach-tri';
    src: url('../../assets/fonts/aurach_tri/aurach_tri.ttf') format('truetype')
}

@font-face{
    font-family: 'aurach-bi';
    src: url(../../assets/fonts/aurach_tri/aurach_bi.ttf)
}

@font-face{
    font-family: 'aurach-heavy';
    src: url(../../assets/fonts/aurach_tri/aurach_heavy.ttf)
}

@font-face{
    font-family: 'budmo-jiggler';
    src: url(../../assets/fonts/budmo/budmo_jiggler.ttf)
}

@font-face{
    font-family: 'budmo-jigglish';
    src: url(../../assets/fonts/budmo/budmo_jigglish.ttf)
}

@font-face{
    font-family: 'mexcellent-3d';
    src: url('../../assets/fonts/mexcellent/mexcellent_3d.ttf') format('truetype')
}

@font-face{
    font-family: 'mexcellent-rg';
    src: url(../../assets/fonts/mexcellent/mexcellent_rg.ttf)
}